@import "settings";
@import "_bourbonrem.scss";

.onboarding-advancement {
  font-family: Open Sans,sans-serif; // Forced because of old theme
  font-weight: normal; // Forced because of old theme
  position: fixed;
  background: $background-color;
  height: bourbonFourRem(110px);

  bottom: 0;
  right: 0;
  left: bourbonFourRem(210px);

  z-index: $minimum-z-index - 1;

  .btn-primary {
    background: $primary-color;
    background: $primary-color !important; // Forced because of old theme
  }

  .col-md-8 { // Forced because of old theme
    padding-left: bourbonFourRem(15px);
  }

  .group-title {
    font-weight: bold; // Forced because of old theme
    font-family: Open Sans,sans-serif; // Forced because of old theme
    color: $dark-color;
    font-size: bourbonFourRem(16px);
    margin-top: bourbonFourRem(10px);
  }

  .step-title {
    font-size: bourbonFourRem(14px); // Forced because of old theme
    line-height: bourbonFourRem(20px); // Forced because of old theme
    .material-icons {
      color: $primary-color;
      font-size: bourbonFourRem(18px);
      vertical-align: bottom;
      margin-bottom: bourbonFourRem(1px);
    }
  }

  .onboarding-button-next {
    position: absolute;
    right: bourbonFourRem(10px);
    top: bourbonFourRem(20px);
  }

  .onboarding-button-shut-down {
    position: absolute;
    right: bourbonFourRem(10px);
    bottom: bourbonFourRem(30px);
    color: $dark-color;
    font-size: bourbonFourRem(11px);
    cursor: pointer;
  }

  > .advancement-groups {
    width: 100%;

    > .group {
      float: left;
      height: bourbonFourRem(10px);
      background: $dark-color;
      position: relative;
    }

    > .group > .advancement {
      height: bourbonFourRem(10px);
      background: $primary-color;
      transition: all 0.8s;
    }

    > .group > .id {
      position: absolute;
      box-sizing: border-box;
      background-color: $dark-color;
      border: bourbonFourRem(1px) solid $background-color;
      border-radius: bourbonFourRem(20px);
      text-align: center;
      vertical-align: middle;
      line-height: bourbonFourRem(20px);
      height: bourbonFourRem(20px);
      width: bourbonFourRem(20px);
      color: white;
      font-size: bourbonFourRem(12px);
      right: bourbonFourRem(-1px);
      top: bourbonFourRem(-5px);
      z-index: 1;
    }
    > .group > .id.-done {
      background-color: $primary-color;
    }
  }
}
