@import "_bourbonrem.scss";

.onboarding-tooltip {
  @mixin addTriangle($size, $color) {
    left: 100%;
    top: 50%;
    border: $size solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: $color;
    margin-top: -$size;
  }

  @mixin addTriangleDown($size, $color) {
    @include addTriangle($size, $color);
    left: 50%;
    top: 100%;
    margin-top: 0;
    transform: rotate(90deg);
  }

  @mixin addPreston($url, $width, $height, $offset) {
    content: " ";
    position: absolute;
    top: bourbonFourRem(10px);
    width: $width;
    height: $height;
    background: url($url) no-repeat;
    background-size: $width $height;
    left: $offset;
    z-index: 1;
  }

  font-family: Open Sans,sans-serif; // Forced because of old theme
  font-size: bourbonFourRem(14px); // Forced because of old theme
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  padding: bourbonFourRem(10px) bourbonFourRem(10px) bourbonFourRem(50px) bourbonFourRem(38px);
  width: bourbonFourRem(290px);
  min-height: bourbonFourRem(150px);

  z-index: $minimum-z-index + 2;

  background: $background-color;
  border-radius: $tooltip-radius;
  border: $tooltip-border $primary-color;

  &.-left {
    margin-left: bourbonFourRem(-12px);
    > .content {
      &:before {
        @include addPreston('../images/preston-right.png', bourbonFourRem(88px), bourbonFourRem(153px), bourbonFourRem(-61px));
      }
    }
    &:after {
      @include addTriangle(bourbonFourRem(12px), $background-color);
    }

    &:before {
      @include addTriangle(bourbonFourRem(13px), $primary-color);
    }
  }

  &.-right {
    margin-left: bourbonFourRem(69px);
    > .content {
      &:before {
        @include addPreston('../images/preston-left.png', bourbonFourRem(104px), bourbonFourRem(153px), bourbonFourRem(-70px));
      }
    }
  }

  &.-top {
    margin-top: bourbonFourRem(-43px);
    margin-left: bourbonFourRem(45px);
    > .content {
      &:before {
        @include addPreston('../images/preston-right.png', bourbonFourRem(104px), bourbonFourRem(153px), bourbonFourRem(-70px));
      }
    }

    &:after {
      @include addTriangleDown(bourbonFourRem(12px), $dark-color);
    }

    &:before {
      @include addTriangleDown(bourbonFourRem(13px), $primary-color);
    }
  }

  > .btn-primary {
    text-transform: uppercase;
    position: absolute;
    bottom: bourbonFourRem(5px);
    right: bourbonFourRem(5px);
    padding: /* bourbonFourRem(3px) */ 0 bourbonFourRem(8px);
    background: $primary-color; // Forced because of old theme
    color: white; // Forced because of old theme
    font-size: bourbonFourRem(12px); // Forced because of old theme
    border-radius: bourbonFourRem(3px); // Forced because of old theme
    border: none; // Forced because of old theme
    vertical-align: middle; // Forced because of old theme
    height: bourbonFourRem(25px); // Forced because of old theme
    line-height: bourbonFourRem(25px); // Forced because of old theme
  }
}

.onboarding-tooltipsteps {
  position: absolute;
  height: bourbonFourRem(40px);
  line-height: bourbonFourRem(40px);
  vertical-align: middle;
  bottom: 0;
  left: 0;
  right: 0;
  background: $dark-color;
  padding-left: bourbonFourRem(50px);

  > .total {
    color: $primary-color;
    font-size: bourbonFourRem(10px);
  }

  > .bulls {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > .bulls > .bull {
    height: bourbonFourRem(6px);
    width: bourbonFourRem(6px);
    border-radius: bourbonFourRem(6px);
    background: $background-secondary-color;
    display: inline-block;
    margin: 0 bourbonFourRem(1px) bourbonFourRem(1px) bourbonFourRem(1px);
  }
  > .bulls > .bull.-current {
    background: $primary-color;
  }
  > .bulls > .bull.-done {
    background: $dark-light-color;
  }
}
