<div class="onboarding popup bootstrap">
    <div class="content">
        <p>Hey! Are you lost?</p>
        <p>
            To continue, press this button:
        </p>
        <div class="text-center">
            <button class="btn btn-primary">Continue</button>
        </div>
        <p>If you want to definitly stop the OnBoarding, press this button:</p>
        <div class="text-center">
            <button class="btn btn-alert">Definitly stop the onboarding</button>
        </div>
    </div>
</div>
