.onboarding-advancement {
  font-family: Open Sans,sans-serif;
  font-weight: normal;
  position: fixed;
  background: #dff5f9;
  height: 6.875rem;
  bottom: 0;
  right: 0;
  left: 13.125rem;
  z-index: 1499; }
  .onboarding-advancement .btn-primary {
    background: #25b9d7;
    background: #25b9d7 !important; }
  .onboarding-advancement .col-md-8 {
    padding-left: 0.9375rem; }
  .onboarding-advancement .group-title {
    font-weight: bold;
    font-family: Open Sans,sans-serif;
    color: #363a41;
    font-size: 1rem;
    margin-top: 0.625rem; }
  .onboarding-advancement .step-title {
    font-size: 0.875rem;
    line-height: 1.25rem; }
    .onboarding-advancement .step-title .material-icons {
      color: #25b9d7;
      font-size: 1.125rem;
      vertical-align: bottom;
      margin-bottom: 0.0625rem; }
  .onboarding-advancement .onboarding-button-next {
    position: absolute;
    right: 0.625rem;
    top: 1.25rem; }
  .onboarding-advancement .onboarding-button-shut-down {
    position: absolute;
    right: 0.625rem;
    bottom: 1.875rem;
    color: #363a41;
    font-size: 0.6875rem;
    cursor: pointer; }
  .onboarding-advancement > .advancement-groups {
    width: 100%; }
    .onboarding-advancement > .advancement-groups > .group {
      float: left;
      height: 0.625rem;
      background: #363a41;
      position: relative; }
    .onboarding-advancement > .advancement-groups > .group > .advancement {
      height: 0.625rem;
      background: #25b9d7;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      transition: all 0.8s; }
    .onboarding-advancement > .advancement-groups > .group > .id {
      position: absolute;
      box-sizing: border-box;
      background-color: #363a41;
      border: 0.0625rem solid #dff5f9;
      border-radius: 1.25rem;
      text-align: center;
      vertical-align: middle;
      line-height: 1.25rem;
      height: 1.25rem;
      width: 1.25rem;
      color: white;
      font-size: 0.75rem;
      right: -0.0625rem;
      top: -0.3125rem;
      z-index: 1; }
    .onboarding-advancement > .advancement-groups > .group > .id.-done {
      background-color: #25b9d7; }

.onboarding-navbar {
  display: none; }

.onboarding-navbar.displayed {
  display: block;
  font-weight: normal;
  box-sizing: border-box;
  width: 100%;
  padding: 0.625rem;
  padding-bottom: 2.1875rem;
  background: #292c32;
  position: absolute;
  bottom: 0;
  font-size: 0.6875rem;
  text-align: center; }
  .onboarding-navbar.displayed > .text {
    text-align: left;
    color: #95a7ad;
    padding-bottom: 0.625rem; }
  .onboarding-navbar.displayed .onboarding-button-resume {
    background: #1e2024;
    color: #95a7ad; }
  .onboarding-navbar.displayed .btn {
    background: #1e2024;
    color: #95a7ad;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 0.625rem;
    padding: 0.375rem 0.9375rem; }
    .onboarding-navbar.displayed .btn:hover {
      color: #95a7ad !important; }
  .onboarding-navbar.displayed .btn.-small {
    margin-top: 0.125rem;
    font-size: 0.5rem;
    padding: 0.25rem;
    text-transform: none;
    background: #292c32;
    font-size: 0.625rem !important;
    text-transform: none;
    color: #95a7ad !important; }
    .onboarding-navbar.displayed .btn.-small:hover {
      color: #95a7ad !important;
      text-decoration: underline; }
  .onboarding-navbar.displayed > .btn.-small:hover {
    text-decoration: underline; }
  .onboarding-navbar.displayed > .progress {
    border-radius: 0.5rem;
    height: 0.5rem;
    background: #1e2024; }
  .onboarding-navbar.displayed > .progress > .bar {
    border-radius: 0.5rem;
    background: #fbb000;
    height: 0.5rem; }

.onboarding-tooltip {
  font-family: Open Sans,sans-serif;
  font-size: 0.875rem;
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  padding: 0.625rem 0.625rem 0.625rem 2.375rem;
  width: 18.125rem;
  height: 9.375rem;
  z-index: 1502;
  background: #dff5f9;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #25b9d7; }
  .onboarding-tooltip.-left {
    margin-left: -0.75rem; }
    .onboarding-tooltip.-left > .content:before {
      content: " ";
      position: absolute;
      top: 0.625rem;
      width: 5.5rem;
      height: 9.5625rem;
      background: url(738ffa79af4c837743b83812e6e8dfa1.png) no-repeat;
      background-size: 5.5rem 9.5625rem;
      left: -3.8125rem;
      z-index: 1; }
    .onboarding-tooltip.-left:after {
      left: 100%;
      top: 50%;
      border: 0.75rem solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: #dff5f9;
      margin-top: -0.75rem; }
    .onboarding-tooltip.-left:before {
      left: 100%;
      top: 50%;
      border: 0.8125rem solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: #25b9d7;
      margin-top: -0.8125rem; }
  .onboarding-tooltip.-right {
    margin-left: 4.3125rem; }
    .onboarding-tooltip.-right > .content:before {
      content: " ";
      position: absolute;
      top: 0.625rem;
      width: 6.5rem;
      height: 9.5625rem;
      background: url(5bc603405a8265f1904ef075cb258370.png) no-repeat;
      background-size: 6.5rem 9.5625rem;
      left: -4.375rem;
      z-index: 1; }
  .onboarding-tooltip.-top {
    margin-top: -2.6875rem;
    margin-left: 2.8125rem; }
    .onboarding-tooltip.-top > .content:before {
      content: " ";
      position: absolute;
      top: 0.625rem;
      width: 6.5rem;
      height: 9.5625rem;
      background: url(738ffa79af4c837743b83812e6e8dfa1.png) no-repeat;
      background-size: 6.5rem 9.5625rem;
      left: -4.375rem;
      z-index: 1; }
    .onboarding-tooltip.-top:after {
      left: 100%;
      top: 50%;
      border: 0.75rem solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: #363a41;
      margin-top: -0.75rem;
      left: 50%;
      top: 100%;
      margin-top: 0;
      transform: rotate(90deg); }
    .onboarding-tooltip.-top:before {
      left: 100%;
      top: 50%;
      border: 0.8125rem solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-left-color: #25b9d7;
      margin-top: -0.8125rem;
      left: 50%;
      top: 100%;
      margin-top: 0;
      transform: rotate(90deg); }
  .onboarding-tooltip > .btn-primary {
    text-transform: uppercase;
    position: absolute;
    bottom: 0.3125rem;
    right: 0.3125rem;
    padding: 0 0.5rem;
    background: #25b9d7;
    color: white;
    font-size: 0.75rem;
    border-radius: 0.1875rem;
    border: none;
    vertical-align: middle;
    height: 1.5625rem;
    line-height: 1.5625rem; }

.onboarding-tooltipsteps {
  position: absolute;
  height: 2.5rem;
  line-height: 2.5rem;
  vertical-align: middle;
  bottom: 0;
  left: 0;
  right: 0;
  background: #363a41;
  padding-left: 3.125rem; }
  .onboarding-tooltipsteps > .total {
    color: #25b9d7;
    font-size: 0.625rem; }
  .onboarding-tooltipsteps > .bulls {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .onboarding-tooltipsteps > .bulls > .bull {
    height: 0.375rem;
    width: 0.375rem;
    border-radius: 0.375rem;
    background: #bbcdd2;
    display: inline-block;
    margin: 0 0.0625rem 0.0625rem 0.0625rem; }
  .onboarding-tooltipsteps > .bulls > .bull.-current {
    background: #25b9d7; }
  .onboarding-tooltipsteps > .bulls > .bull.-done {
    background: #6c868e; }

.onboarding-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(54, 58, 65, 0.5);
  z-index: 1500; }
  .onboarding-popup > .content {
    position: absolute;
    width: 35rem;
    left: 50%;
    margin-left: -17.5rem;
    top: 2.5rem;
    padding: 0;
    background: white;
    box-shadow: 0.125rem 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.1); }

.onboarding-welcome .welcome {
  background: url(eb1d04f953248855cce0bb0434f7d84b.png) top no-repeat;
  background-size: 35rem 10.25rem;
  padding-top: 164px;
  height: 3.25rem;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0; }

.onboarding-welcome > .content {
  padding-bottom: 5.625rem;
  min-height: 12.5rem;
  font-size: 0.875rem;
  background: url(79c143eeae6efaebcbe6b9ad482cf591.png) bottom no-repeat;
  background-size: 15rem 5.0625rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column; }
  .onboarding-welcome > .content p {
    display: flex;
    text-align: center;
    align-self: center;
    width: 25rem; }

.onboarding-welcome .started {
  display: flex;
  font-weight: 600;
  font-size: 1.0625rem;
  justify-content: center; }

.onboarding-welcome > .content {
  margin-bottom: 1.25rem; }

.onboarding-welcome > .material-icons {
  color: #6c868e;
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
  cursor: pointer;
  font-size: 1.875rem; }

.onboarding-welcome .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5625rem; }

.onboarding-welcome .btn-primary.blue-balloon {
  background-color: #2eacce; }

.onboarding-welcome .btn-tertiary-outline {
  background: none;
  color: #2eacce;
  border: 2px solid #2eacce;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 9px 16px;
  margin-right: 20px; }

.onboarding-popup h2 {
  font-size: 1.5rem; }

.onboarding-popup #onboarding-welcome.modal-header {
  padding: 1.5rem; }
  .onboarding-popup #onboarding-welcome.modal-header .close {
    color: #000;
    font-size: 2.5rem;
    margin-top: -14px;
    margin-right: -5px;
    opacity: 0.4; }

.onboarding-popup #onboarding-welcome .btn {
  background-color: #2eacce;
  font-size: 0.9375rem;
  font-weight: normal;
  letter-spacing: normal; }

.onboarding-popup #onboarding-welcome .link-container {
  width: 9.375rem; }
  .onboarding-popup #onboarding-welcome .link-container .close {
    color: #000;
    font-size: 40px;
    margin-top: -15px; }
  .onboarding-popup #onboarding-welcome .link-container:first-child {
    margin-right: 30px;
    margin-left: 75px; }
  .onboarding-popup #onboarding-welcome .link-container .starter-guide,
  .onboarding-popup #onboarding-welcome .link-container .video-tutorial,
  .onboarding-popup #onboarding-welcome .link-container .forum,
  .onboarding-popup #onboarding-welcome .link-container .training {
    width: 9.375rem;
    height: 8.125rem; }
  .onboarding-popup #onboarding-welcome .link-container .starter-guide {
    background: url(7914be0936bb436d9540215d86c0bb58.png) no-repeat; }
  .onboarding-popup #onboarding-welcome .link-container .video-tutorial {
    background: url(7e4eba4f03eccfd3057a35d05a539160.png) no-repeat; }
  .onboarding-popup #onboarding-welcome .link-container .forum {
    background: url(cf7d27394e7dd5f099401f60dc8af2fe.png) no-repeat; }
  .onboarding-popup #onboarding-welcome .link-container .training {
    background: url(164f3120691885f6326bde5ab3f98533.png) no-repeat; }
  .onboarding-popup #onboarding-welcome .link-container .final-link {
    border-width: 0;
    color: #363a41;
    display: block;
    font-weight: 600;
    justify-content: center;
    padding: 0;
    position: relative;
    text-align: center;
    width: 9.375rem; }
    .onboarding-popup #onboarding-welcome .link-container .final-link:hover {
      box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.25); }
    .onboarding-popup #onboarding-welcome .link-container .final-link .link {
      bottom: 0;
      line-height: 16px;
      position: absolute;
      padding: 10px;
      display: block;
      text-align: center;
      width: 100%; }

#onboarding-welcome .final-link {
  display: block;
  border: 1px solid #BBCDD2;
  border-radius: 0.1875rem;
  padding: 1.25rem;
  margin: 0.4375rem 0;
  text-decoration: none; }
  #onboarding-welcome .final-link > i {
    color: #BBCDD2;
    font-size: 4rem;
    margin-bottom: 1.5rem; }

.btn.with-spinner {
  position: relative; }

.btn.with-spinner.animated {
  border-color: white;
  background: white;
  outline-color: white; }
  .btn.with-spinner.animated:hover {
    border-color: white;
    background: white; }
  .btn.with-spinner.animated:after {
    position: absolute;
    width: 1.875rem;
    height: 1.875rem;
    left: 50%;
    top: 50%;
    margin-top: -0.9375rem;
    margin-left: -0.9375rem;
    display: block;
    border: 3px solid #25b9d7;
    border-top-color: transparent;
    border-radius: 3.125rem;
    background: transparent;
    content: '';
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
