@import "settings";

&.advancement {
    position: fixed;
    background: white;

    padding-top: 10px;
    padding-bottom: 10px;

    bottom: 0;
    right: 0;
    left: 210px;

    z-index: $minimum-z-index + 1;

    border-top: 1px solid $separator;

    h4 {
        margin: 2px 0;
    }

    .onboarding-button-next {
        margin-top: 5px;
    }

    .progress-group {
        float: left;
        padding: 0 2px;

        .progress {
            margin-bottom: 10px;
        }

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}
