//
// Colors
//

$color-separator:                 #dfdfdf; // Color used for the separators (like in the footer)`
$color-navbar-footer:             #292c32; // Color used on the footer of the navbar
$color-navbar-progress-secondary: #1e2024; // Color used for the navbar progress background & button color
$color-navbar-progress-color:     #fbb000; // Color used for the navbar progress color
$color-navbar-text:               #95a7ad; // Color used for the navbar

//
// Popups settings
//

$popup-width:                     300px;   // Popups width

//
// Navbar settings
//

$navbar-progress-size:            8px;     // Size of the progress bar

//
// Other settings
//

$minimum-z-index:                 1000;    // Minimum z-index for the onboarding fixed & absolute elements
