/* line 1, ../sass/_advancement.scss */
.onboarding.advancement {
  position: fixed;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  right: 0;
  left: 210px;
  z-index: 1000;
  border-top: 1px solid #dfdfdf;
}
/* line 16, ../sass/_advancement.scss */
.onboarding.advancement h4 {
  margin: 2px 0;
}
/* line 20, ../sass/_advancement.scss */
.onboarding.advancement .onboarding-button-next {
  margin-top: 5px;
}
/* line 24, ../sass/_advancement.scss */
.onboarding.advancement .progress-group {
  float: left;
  padding: 0 2px;
}
/* line 28, ../sass/_advancement.scss */
.onboarding.advancement .progress-group .progress {
  margin-bottom: 10px;
}
/* line 32, ../sass/_advancement.scss */
.onboarding.advancement .progress-group:first-child {
  padding-left: 0;
}
/* line 35, ../sass/_advancement.scss */
.onboarding.advancement .progress-group:last-child {
  padding-right: 0;
}
/* line 1, ../sass/_popup.scss */
.onboarding.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(40, 43, 48, 0.7);
  z-index: 1100;
}
/* line 11, ../sass/_popup.scss */
.onboarding.popup .content {
  position: absolute;
  border-radius: 5px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 200px;
  padding: 20px;
  background: white;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
/* line 1, ../sass/_tooltip.scss */
.onboarding.tooltip {
  position: absolute;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  min-width: 100px;
  max-width: 200px;
  min-height: 84px;
  z-index: 1100;
  background: #49bad5;
}
/* line 14, ../sass/_tooltip.scss */
.onboarding.tooltip.left {
  padding-right: 31px;
}
/* line 16, ../sass/_tooltip.scss */
.onboarding.tooltip.left .preston-left {
  display: none;
}
/* line 21, ../sass/_tooltip.scss */
.onboarding.tooltip.right {
  padding-left: 31px;
}
/* line 23, ../sass/_tooltip.scss */
.onboarding.tooltip.right .preston-right {
  display: none;
}
/* line 28, ../sass/_tooltip.scss */
.onboarding.tooltip .preston {
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: 44px 64px;
  position: absolute;
  top: 10px;
}
/* line 41, ../sass/_tooltip.scss */
.onboarding.tooltip .preston.preston-left {
  background-image: url("../images/puff-left.png");
  left: -15px;
}
/* line 45, ../sass/_tooltip.scss */
.onboarding.tooltip .preston.preston-right {
  background-image: url("../images/puff-right.png");
  right: -15px;
}
